
.modal-button-container .danger-button {
  background-color: #d9534f;
  color: white;
}
.modal-button-container .danger-button:hover {
  background-color: #c9302c;
}

.nux-modal .nux-modal-header{
  text-align: center;
}
.nux-modal-header .nux-modal-title {
  margin: 7px auto 0.15em;
}
.nux-modal-header .nux-modal-subtitle {
  margin: 0 auto 1em;
}
