
.module-settings-section {
  border-bottom: 1px solid var(--background-modifier-border);
}

.module-settings-desc p {
  margin-top: -3px;
  margin-bottom: 5px;
}

.module-settings input[type="text"] {
  width: 100%;
}

.submodules {
  padding-left: 1em;
  font-size: 98%;
}

.submodule {
  padding-left: 1em;
}

.submodule button {
  max-width: 4em;
}

.submodule .setting-item-name {
  font-size: 96%;
}
